* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  .header {
    min-height: 20vh;
    margin-top: 10rem;
    margin-bottom: 1rem;
    min-width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      border: none;
      padding: 1rem 2rem;
      cursor: pointer;
      background-color: darkslateblue;
      color: white;
      margin: 0 auto;
    }
    h1 {
      text-align: center;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  input {
    margin: 1rem 0;
    padding: 0.3rem 0.4rem;
    border: none;
    width: 100%;
  }
}

ul {
  min-width: 100vw;
  min-height: 0vh;
  background-image: linear-gradient(to right, #f101dd, #7806f3);
  color: rgb(48, 48, 48);

  li {
    margin: 0 auto;

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      border: none;
      padding: 1rem 2rem;
      cursor: pointer;
      background-color: darkslateblue;
      color: white;
    }
  }
}

//Responsive Design

@media screen and (max-width: 768px) {
  ul {
    li {
      min-width: 30%;
      min-height: 100%;
      div {
        margin-left: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  ul {
    li {
      width: 30%;
      height: 100%;
    }
  }
}
