<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <title>To Do list</title>
  </head>
  <body>
    <div class="header">
      <h1>To Do List</h1>
      <input type="text" #txt />
      <button (click)="insert(txt.value)">Submit</button>
    </div>
    <div class="list">
      <ul>
        <li *ngFor="let item of array">
          <div>{{ item }}</div>
          <button (click)="delete(item)">X</button>
        </li>
      </ul>
    </div>
  </body>
</html>
